body {
    padding: 2em;
    margin: 0;

    color: #fefefe;
    background-color: rgb(22, 22, 22);

    font-size: 16pt;
    font-family: Georgia, Arial, Helvetica, sans-serif;
 }

 .light {
    background-color: #fefefe;
    color: rgb(22, 22, 22);
 }

 h1,
 h2,
 h3 {

    font-family: Geneva, Tahoma, Verdana, sans-serif;
 }

 a {
    color: white;
 }

 a:hover {
    color: yellow;
 }

 h3 {
    margin-top: 2em;
    margin-bottom: 1em;
 }

 .image-full {
    width: 100%;
 }

 .content {
    max-width: 1200px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
 }

 .footer {
    font-size: 0.8em;
 }